<div class="jumbotron">
  <h1 >Hoteles</h1>
  
</div>

<div class="container content">
  <div class="row">
    <div class="col-sm-4 ">
        <h3>¿Como funciona?</h3>
        <p>Busca los hoteles de acuerdo a las referencias</p>
    </div>
    <div class="col-sm-4 ">
      <h2>¿Donde puedo reservar?</h2>
      <p>Elige la ciudad que te interese</p>
    </div>
    <div class="col-sm-4">
      <h2>¿Como pago?</h2>
      <p>Utiliza tu tarjeta favorita</p>
    </div>
  </div>

  <div class="d-flex flex-wrap ">
    <div class=" card-hotel d-flex flex-column justify-content-between">
      <div>
        <h4>Hotel barcelona</h4>
      <p>Hotel ubicado en pleno centro de Barcelona.</p>
      </div>
      <div>
        <button class="btn btn-primary btn-reserva">reservar</button>
      </div>
    </div>
    <div class=" card-hotel d-flex flex-column justify-content-between">
      <div>
        <h4>Hotel Buenos Aires</h4>
        <p>Hotel ubicado en pleno centro.</p>
      </div>
      <div>
        <button class="btn btn-primary btn-reserva">reservar</button>
      </div>
    </div>
    <div class=" card-hotel d-flex flex-column justify-content-between">
      <div>
        <h4>Hotel Lima</h4>
        <p>Hotel ubicado en pleno centro.</p>
      </div>
      <div>
        <button class="btn btn-primary btn-reserva">reservar</button>
      </div>
    </div>
    <div class=" card-hotel d-flex flex-column justify-content-between">
      <div>
        <h4>Hotel Rio de Janeiro</h4>
        <p>Hotel ubicado en pleno centro de Rio de Janeiro a pocos metros de la playa</p>
      </div>
      <div>
        <button class="btn btn-primary btn-reserva">reservar</button>
      </div>
    </div>
    <div class=" card-hotel d-flex flex-column justify-content-between">
      <div>
        <h4>Hotel la Paz</h4>
        <p>Hotel ubicado en pleno centro.</p>
      </div>
      <div>
        <button class="btn btn-primary btn-reserva">reservar</button>
      </div>
    </div>
    <div class=" card-hotel d-flex flex-column justify-content-between">
     <div>
      <h4>Hotel Madrid</h4>
      <p>Hotel ubicado en pleno centro.</p>
     </div>
     <div>
      <button class="btn btn-primary btn-reserva">reservar</button>
     </div>
    </div>
    <div class=" card-hotel d-flex flex-column justify-content-between">
      <div>
        <h4>Hotel San Pablo</h4>
        <p>Hotel ubicado en pleno centro.</p>
      </div>
     <div>
      <button class="btn btn-primary btn-reserva">reservar</button>
     </div>
    </div>

  </div>

</div>

<footer>
 <div class="row">
    <div class="col-sm-4 d-flex flex-column">
    <a href="http://www.facebook.com">facebook</a>
    <a href="http://www.twiter.com">Twiter</a>
    <a href="http://www.instagram.com">Instagram</a>
  </div>
  <div class="col-sm-4">
    <address>
      Tucuman 834 CABA, Argentina + 549111234567
      Contacto@guiahoteles.com
    </address>
  </div>
  <div class="col-sm-4 d-flex flex-column align-items-end">
    <a href="http://www.facebook.com">Nosotros</a>
    <a href="http://www.twiter.com">Precios</a>
    <a href="http://www.twiter.com">Terminos y condiciones</a>
    <a href="http://www.instagram.com">Contacto</a> 
  </div>
 </div>

</footer>